<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybooks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_green_book"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_green_book_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBooks">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdderActivity"/>
    </application>

</manifest>