name: Build appbundle and upload to Google Play

on:
  release:
    types:
      - published
  push:
    branches:
      - 505-auto-deployment-to-google-play-store

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: "11"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ vars.FLUTTER_VERSION }}

      - name: Install dependencies
        run: |
          flutter config --no-analytics
          flutter pub get

      - name: Configure Keystore for Android
        run: |
          echo "$PLAY_STORE_UPLOAD_KEY" | base64 --decode > app/upload-keystore.jks
          echo "storeFile=upload-keystore.jks" >> key.properties
          echo "keyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
          echo "storePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
          echo "keyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties
        env:
          PLAY_STORE_UPLOAD_KEY: ${{ secrets.PLAY_STORE_UPLOAD_KEY }}
          KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          KEYSTORE_STORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}
        working-directory: android

      - name: Build appbundle
        run: flutter build appbundle --release

      - name: Create whatsnew file
        run: |
          mkdir whatsnew
          export RELEASE_BUILD="$(cat pubspec.yaml | grep 'version:' | awk '{print $2}' | cut -d '+' -f2)"
          cp fastlane/metadata/android/en-US/changelogs/$RELEASE_BUILD.txt whatsnew/whatsnew-en-US

      - name: Create release in Google Play
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: $SERVICE_ACCOUNT_JSON
          packageName: software.mdev.bookstracker
          releaseFiles: build/app/outputs/bundle/release/app-release.aab
          track: production
          inAppUpdatePriority: 5
          # userFraction: 0.99999 Draft does not support userFraction
          whatsNewDirectory: whatsnew
          mappingFile: build/app/outputs/mapping/release/mapping.txt
          debugSymbols: build/app/intermediates/merged_native_libs/release/out/lib
          status: draft
        env:
          SERVICE_ACCOUNT_JSON: ${{ secrets.SERVICE_ACCOUNT_JSON }}
